<div class="legal-container">
  <div class="legal-card">
    <div class="header">
      <h1>Términos y Condiciones</h1>
      <p class="updated-date">Última actualización: 12 de junio de 2025</p>
    </div>

    <div class="content">
      <section>
        <h2>1. Introducción</h2>
        <p>
          En este documento se especifica las condiciones del uso de Geek
          Collector, sitio web de venta de artículos de cultura Geek en general,
          uso de servicio, registro y perfil de nuestros clientes, propiedad
          intelectual y limitaciones de responsabilidad en nuestros distintos
          medios de operación y servicios. Al navegar por nuestro sitio y
          utilizar nuestros servicios, aceptan nuestros términos y condiciones
          para poder hacer uso de nuestros servicios y disfrutar de su
          experiencia.
        </p>
      </section>

      <section>
        <h2>2. Uso del Servicio</h2>
        <p>
          Todo usuario que use nuestros servicios acepta que procesemos todos
          sus datos ingresados e información, además de asegurar que toda la
          información proporcionada por el mismo usuario es verídica. No se
          permite distribuir, mostrar, vender, arrendar, transmitir, crear
          trabajos derivados, traducir, modificar, realizar ingeniería inversa,
          desmontar, descompilar o explotar los servicios o cualquier parte de
          ellos, a menos de que lo permitamos expresamente por escrito.
          Cualquier incumplimiento a lo expresado anteriormente, terminara con
          la cancelación de su cuenta con todas las implicaciones que tenga.
        </p>
      </section>

      <section>
        <h2>3. Cuentas</h2>
        <p>
          Para acceder a cualquiera de las funciones disponibles en los
          servicios, se deberá crear una cuenta. Es recomendable que los
          usuarios sean mayores de edad, debido a que, para crear su cuenta,
          deben saber cómo administrar su correo electrónico, contar con
          tarjetas de crédito o debido y hacerse responsable de su acceso al
          sitio y a sus servicios. Queda prohibido el uso de la cuenta de otra
          persona. Cada vez que use una contraseña o identificación, se
          considerara que dio su autorización para acceder y usar el sitio, con
          los términos y condiciones de este acuerdo y no estamos obligados a
          investigar la autorización o fuente de dicho acceso. Usted es el único
          responsable de cualquier acceso y uso de los servicios por parte de
          cualquier persona que uso la contraseña o identificación que
          originalmente se le asigno a usted de forma personalizada. Podemos
          cancelar su acceso a los servicios si consideramos que ha incumplido
          con estos acuerdos y condiciones. Usted puede cancelar su cuenta
          mientras no esté realizando algún pago o tuviera activos en el carrito
          de compra, debido a que interrumpir este proceso abruptamente lo lleva
          al riesgo de perder sus activos o interrumpir su compra en perdida de
          su dinero, del cual no nos hacemos responsables al haberle advertido
          de las consecuencias de interrumpir este proceso. En caso de que la
          cancele sin ponerse en contacto con nosotros puede perder los activos
          que se encuentren registrados en su cuenta.
        </p>
      </section>

      <section>
        <h2>4. Propiedad Intelectual</h2>
        <p>
          Los servicios, incluyendo la información, contenido, cualquier texto,
          software, fotos, etc, que se proporcionan como parte de los servicios,
          nos pertenecen en todo momento o a aquellas personas que conceden la
          licencia para su uso y están protegidos por las leyes de derechos de
          autor de su propio país e internacionales. EL contenido se puede usar
          únicamente en la medida en que nosotros o los licenciantes de uso lo
          autorices expresamente. Adicionalmente, las marcas comerciales “Geek
          Collector”, marcas de servicio, iconos, gráficos, marcas, diseños y
          logotipos que contienen, son propiedad de Geek Collector. Usted no
          tiene, ni tendrá, ningún derecho, titularidad o interés sobre ninguna
          de las Marcas. Las Marcas de Geek Collector no pueden utilizarse en
          relación con ningún producto o servicio que no sea de la Compañía, de
          cualquier manera que pudiera generar confusión entre los clientes o
          que desaliente o desacredite a la Compañía.
        </p>
      </section>

      <section>
        <h2>5. Enlaces a Otros Sitios Web</h2>
        <p>
          Al utilizar los servicios, usted reconoce y acepta que estos,
          incluyendo el sitio y las aplicaciones, se proporcionan &quot;tal
          cual&quot; y por defecto, sin ninguna garantía, ya sea explícita o
          implícita. En la medida permitida por la ley, la empresa rechaza
          expresamente cualquier tipo de garantía, incluidas las relacionadas
          con comerciabilidad, titularidad, exactitud, integridad, continuidad
          del servicio, ausencia de errores, idoneidad para un propósito
          específico, disfrute, no infracción, y cualquier otra garantía que
          pueda surgir durante su uso comercial. Además, la empresa no garantiza
          ni se responsabiliza por: (1) productos, servicios, información,
          programación o cualquier otro recurso proporcionado por terceros
          accesibles a través de los servicios; o (2) la calidad o conducta de
          terceros con los que interactúe al usar los servicios. En la mayor
          medida permitida por la ley, la empresa no será responsable bajo
          ninguna teoría de responsabilidad. Esto incluye daños indirectos,
          consecuentes, especiales o ejemplares, pérdida de beneficios,
          interrupción de negocios, daño reputacional o pérdida de datos,
          incluso si eran previsibles, que surjan o estén relacionados con el
          uso o la incapacidad de usar los servicios. Si no está satisfecho con
          los servicios, su único recurso es dejar de utilizarlos.
        </p>
      </section>

      <section>
        <h2>6. Modificación de terminos</h2>
        <p>
          GeekColectors podrá modificar estos términos para reflejar el uso
          adecuado de nuestro sistema. En caso de modificantes, se verá
          reflejado en el sitio una nota o aviso en la parte superior del sitio
          web, indicando la fecha en que se aplicaran las modificaciones de
          nuestros términos y condiciones de uso.
        </p>
      </section>
    </div>

    <div class="actions">
      <button class="btn-back" [routerLink]="['/login']">
        Volver al Inicio de Sesión
      </button>
    </div>
  </div>
</div>
