<div class="legal-container">
  <div class="legal-card">
    <div class="header">
      <h1>Aviso de Privacidad</h1>
      <p class="updated-date">Última actualización: 12 de junio de 2025</p>
    </div>

    <div class="content">
      <section>
        <h2>1. Identidad responsable</h2>
        <p>
          En México, el sitio web es operado por “Geek Collector” En caso de que
          requiera ponerse en contacto con los administradores de “Geek
          Collector” mediante el correo procolectors165
        </p>
      </section>

      <section>
        <h2>2. Datos recopilados</h2>
        <p>
          El sistema recopila datos para el acceso al sistema, garantizar que
          tenga una experiencia personalizada a sus gustos y para mantener un
          canal de comunicación bien establecido.
        </p>
        <ul>
          <li>Datos personales: Nombre completo y edad</li>
          <li>Datos de acceso: correo electrónico y contraseña asociada</li>
          <li>Datos de contacto: numero de teléfono y correo electrónico</li>
          <li>
            Datos de ubicación: ubicación donde vive el usuario y ubicación o
            dirección de envío
          </li>
        </ul>
      </section>

      <section>
        <h2>3. Finalidad</h2>
        <ul>
          <li>
            Inicio de sesión: requiere ingresar nombre, correo electrónico
            valido para vincular la cuenta, una contraseña de 8 caracteres
            mínimo para asegurar la seguridad de su cuenta y una edad mayor a 18
            años para tener acceso a todos los artículos disponibles
          </li>
          <li>
            Envío de pedidos: una dirección física o ubicación para hacer llegar
            los envíos a nuestros usuarios y un numero de teléfono para tener
            comunicación con el usuario
          </li>
          <li>
            Procesamiento de pagos: Se ingresarán datos de pago a la página,
            pero nosotros no almacenamos ni nos hacemos cargo de ellos, todos
            los pagos serán mediante la API de PayPal
          </li>
          <li>
            Personalización de la vista: Para poder personalizar el contenido
            mostrado al usuario, el usuario selecciona los campos que ofrece el
            sitio para mostrar artículos que cumplan o se encuentren dentro de
            la categoría que indico el usuario.
          </li>
        </ul>
      </section>

      <section>
        <h2>4. Seguridad</h2>
        <p>
          Mantenemos a salvo su información ingresada al sistema contra
          cualquier uso o divulgación no autorizada. Sin embargo, es importante
          recordar que internet no es un lugar seguro, por lo que recomendamos
          encarecidamente que utilicen una contraseña compleja para ayudarnos a
          garantizar la seguridad de sus datos. Apegados a la Ley Federal de
          Protección de Datos Personales, los protocolos de seguridad que
          implementamos son el cifrado SSL (Secure Socket Layer) para cifrar la
          información entre el navegador del usuario y el servidor del sitio
          web. Un sistema de acceso seguro mediante procesos de autentificación
          seguros con contraseñas fuertes. También se restringe el acceso al
          personal autorizado bajo estrictas políticas de confidencialidad y un
          acceso controlado de la información de nuestros productos y de los
          usuarios. En cumplimiento con los dispuesto por la Ley Federal de
          Protección de Datos Personales, Geek Collector, ubicado en Santa
          Margarita, San Isidro #289, es responsable del uso y protección de sus
          datos personales bajo estas medidas de seguridad y dentro de los
          parámetros establecidos, con lo relacionado al proceso de compras,
          envíos, facturación, contacto con el cliente, envío de promociones,
          entre otros.
        </p>
      </section>

      <section>
        <h2>5. Derechos del usuario</h2>
        <p>
          En Geek Collector nos tomamos en serio la privacidad de nuestros
          clientes. Puede gestionar su información personal en la sección de
          &quot;cuenta&quot; del Sitio. Tenga en cuenta que eliminar ciertos
          datos (como su dirección de envío) podría afectar la capacidad de
          procesar pedidos y algunas funciones del Sitio o la Aplicación. Sus
          principales derechos incluyen: Acceso: Puede solicitar información
          sobre los datos personales que Geek Collectors ha recopilado sobre
          usted. Esto incluye el tipo de información almacenada, el propósito de
          su uso y con quiénes podría ser compartida. Le proporcionaremos estos
          datos en un formato claro y accesible. Eliminación: Si ya no desea que
          conservemos su información, puede solicitar la eliminación de sus
          datos personales. Sin embargo, algunos datos pueden ser retenidos si
          es necesario para cumplir con obligaciones legales, como la
          facturación o prevención de fraudes. Corrección: Si su información
          personal está desactualizada o es incorrecta, tiene derecho a
          corregirla o actualizarla a través de la sección &quot;Mi cuenta&quot;
          del Sitio. Tenga en cuenta que no se puede modificar la dirección de
          correo electrónico asociada a su cuenta inicial por razones de
          seguridad. Verificación y Contacto: Cada solicitud se evalúa
          individualmente para garantizar la seguridad y privacidad de su
          información. En algunos casos, podríamos solicitar la verificación de
          su identidad antes de procesar su solicitud, con el fin de proteger
          sus datos contra accesos no autorizados. Para más información o
          asistencia comuníquese con nosotros al correo de
          &quot;procollectors165.com&quot;
        </p>
      </section>

      <section>
        <h2>6. Modificaciones</h2>
        <p>
          GeekColectors podrá modificar este Aviso de privacidad de vez en
          cuando, para reflejar la manera en que se procesan los datos
          personales. En estos casos, se verá refleja en el sitio una nota o
          aviso en la parte superior del sitio web, indicando la fecha en que se
          aplicaran las modificaciones del Aviso de privacidad. En caso de no
          estar de acuerdo con los cambios, le pedimos amablemente que deje de
          realizar acciones en el sitio web.
        </p>
      </section>
    </div>

    <div class="actions">
      <button class="btn-back" [routerLink]="['/login']">
        Volver al Inicio de Sesión
      </button>
    </div>
  </div>
</div>
